.App {
  text-align: center;
  height: 100vh
}

.h1-header {
  color: rgb(195, 149, 255)
}

.container {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pet-pic {
  height: 18rem;
  width: 18rem;
}

.pet-name {
  color: #d54d7b;
  font-family: "Great Vibes", cursive;
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: center;
  text-shadow: 0 1px 1px #fff;
}

.pet-status {
  padding: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pet-frame-light {
  width: 20rem;
  align-items: center;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: rgba(223, 220, 192, 0.514);
  border: 1px solid aliceblue;
  border-radius: 8px;
  box-shadow: 2px black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 3rem;
  margin: auto
}

.pet-frame-dark {
  background-color: rgba(10, 8, 8, 0.452);
}

.button {
  width: 90px;
  height: 90px;
  background-color: rgba(118, 74, 136, 0.562);
  color: aliceblue;
  align-items: center;
  border: 1px solid aliceblue;
  font-size: smaller;
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 2px black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.2s all;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(178, 169, 182, 0.562);
}

.button:active {
  transform: scale(0.87);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.button-pet-input {
  width: 120px;
  height: 25px;
  background-color: rgba(118, 74, 136, 0.562);
  color: aliceblue;
  align-items: center;
  border: 1px solid aliceblue;
  font-size: smaller;
  /* display: flex; */
  align-content: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 2px black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-left: 5px;
}

.button-pet-input:hover {
  background-color: rgba(178, 169, 182, 0.562);
}

.button-pet-input:active {
  transform: scale(0.87);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.hidden {
  display: none;
}

.shown {
  display: flex;
}